.wrappper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  background-color: var(--grey);
}

.outlet {
  flex: 1;
  max-width: var(--content-width);
  margin: 0 auto;
  width: 100%;
}
