:root {
  --content-width: 1300px;

  --grey: #f7f7fc;
  --light-grey: #80808088;
  --grey-two: #b2b2b25b;
  --mid-grey: #808080;
  --dark-grey: #888888;
  --warm-grey: #786d6d;
  --deep-grey: #2d3748;

  --blue: #003cff;
  --light-blue: #7f92acb2;
  --gold: #b2a35f;
  --black: #1d1929;
  --pink: #b4387a;
  --white: #ffffff;
  --yellow: #f9f5e3;
  --red: #ff0000;
  --purple: #686DF1;
  --orange: #EB801D;
}
