:root {
  --content-width: 1300px;

  --grey: #F5F4FF;
  --light-grey: #80808088;
  --grey-two: #b2b2b25b;
  --mid-grey: #808080;
  --dark-grey: #888888;
  --warm-grey: #786d6d;
  --deep-grey: #2d3748;
  --card-grey: #EAECEE;
  --card-blue: #7F92AC;
  --card-light-blue: #88b3b8a2;
  --line-grey: #D9D9D9;
  --main-background: #F5F4FF;
  --subtext-grey: #4F5665;

  --blue: #003cff;
  --input-pink: #F9F5E3;
  --light-blue: #7f92acb2;
  --gold: #b2a35f;
  --black: #1d1929;
  --pink: #b4387a;
  --white: #ffffff;
  --yellow: #f9f5e3;
  --red: #ff0000;
  --purple: #686DF1;
  --orange: #EB801D;
  --light-brown: #7B7454;
  --button-red: #d93737da;
}
