@use "./normalize.scss";
@use "./_constants.scss";
@use "./_fonts.scss";
@use "./media";

* {
  box-sizing: border-box;
}

:root {
  font-family: "Ubuntu", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
