@use "../../../../../styles/media" as *;

.services {
  max-width: var(--content-width);
  display: flex;
  flex-direction: row;
  gap: 74px;

  @include media-breakpoint(lg) {
    padding: 0 20px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__image {
    max-width: 509px;

    @include media-breakpoint(lg) {
      width: 380px;
    }

    @include media-breakpoint(sm) {
      width: 280px;
    }
  }

  &__infoWrapper {
    max-width: 717px;
    font-family: "Rubik", sans-serif;

    @include media-breakpoint(lg) {
      padding: 0 20px;
    }

    @include media-breakpoint(sm) {
      padding: 0 10px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 500;

    @include media-breakpoint(lg) {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 25px;
    color: var(--deep-grey);
  }

  &__benefitsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__benefit {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__listItem {
    color: var(--deep-grey);
  }
}
